.loading {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.preloader {
    display: flex;
    flex-direction: column;
    width: min-content;
}